<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="WebAii.Settings" type="ArtOfTest.WebAii.Core.SettingsConfigSectionHandler, ArtOfTest.WebAii" />
    <section name="WebAii.Settings.Web" type="ArtOfTest.WebAii.Core.WebSettingsConfigSectionHandler, ArtOfTest.WebAii" />
  </configSections>

  <WebAii.Settings.Web
    aspNetDevServerPort="-1"
    baseUrl=""
    defaultBrowser="InternetExplorer"
    enableScriptLogging="false"
    enableSilverlight="false"
    enableUILessRequestViewing="false"
    killBrowserProcessOnClose="false"
    localWebServer="None"
    recycleBrowser="false"
    silverlightApplicationPath=""
    silverlightConnectTimeout="30000"
    useHttpProxy="false"
    verboseHttpProxy="false"
    webAppPhysicalPath=""
    />

  <WebAii.Settings
    annotateExecution="false"
    annotationMode="All"
    clientReadyTimeout="30000"
    createLogFile="true"
    executionDelay="0"
    executionTimeout="20000"
    logAnnotations="false"
    logLocation="C:\WebAiiLog\"
    queryEventLogErrorsOnExit="false"
    simulatedMouseMoveSpeed="0.3"
    unexpectedDialogAction="HandleAndFailTest"
    waitCheckInterval="500"
    xMultiMgr="false"
  />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
